body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 5opx;
}
span{
    color: red;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    background-color: purple;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
